.Header{
    padding: 1.2rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fcf8f8;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.logoName{
    display: flex;
    align-items: center;
    gap: 2.46px;
}


.flex{
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .3rem;
    gap: 5px;
}

.flex p{
    font-size: .5rem;
    font-weight: 600;
    display: none;
}

.flex button{
    color: black;
    font-size: .8rem;
    border: none;
    padding: .4rem .5rem;
    background: #b9b9b9;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.footer{
    background: rgb(84, 105, 97);
    padding: 2rem;
    text-align: center;
    color: #fff;
    font-size: .9rem;
    margin: 0;
    width: 100%;
}

.footer hr{
    margin: 1rem 0;
}

.footer > div{
    display: inline-flex;
    gap: 40px;
}

.footer p{
    font-weight: bold;

}

@media(min-width: 850px){
    .Header{
        padding-bottom: 0;
    }

    .flex p{
        font-size: .9rem;
        font-weight: 400;
        display: block;
    }
    
    .flex button{
        color: black;
        font-size: 1rem;
        border: none;
        padding: .5rem 1rem;
        background: #b9b9b9;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
    }    

    .menu{
        display: none;
    }

    .logoName .logo {
        width: 35px;
        height: 35px;
    }

    .logoName .name {
        width: 132.96px;
        height: 27.69px;
    }
}