@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.form {
  width: 100%;
  height: 100vh;
  padding: 100px 1rem;
  color: black;
  font-family: "Inter", sans-serif;
}

.firstFlex {
  width: 100%;
}

.business p,
.p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.15px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #888888;
}

.logo input {
  margin-top: 1rem;
  max-width: 350px;
  width: 100%;
  color: black;
}

.business .logo {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  width: 100;
  padding: 0;
  gap: 10px;
}

.logo label,
.inputContainer label,
.currency label,
.items label {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  letter-spacing: -0.6000000238418579px;
  text-align: center;
}

.inputContainer {
  padding-top: 1rem;
}

.business .inputContainer input {
  width: 100%;
  margin-top: 0.5rem;
}

.business .image {
  width: 30px;
  height: 30px;
  gap: 0px;
  opacity: 1px;
  border-radius: 50%;
}

.itemSection {
  padding-top: -1rem;
  width: 100%;
  /* border: 1px solid black; */
}

.form input {
  width: 100%;
  /* max-width: 300px; */
  padding: 0.8rem;
  border-radius: 15px;
  border: 1px solid #cccccc;
  color: rgb(80, 80, 80);
  background: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
}

.form input:focus{
  border: 1.1px solid #C344FF;
  background: #FFFFFF;
  box-shadow: 0px 2px 0px 0px #C344FF;
}

.items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.items .name {
  width: 100%;
  margin-top: 10px;
}

.items .price,
.items .quantity {
  width: 100%;
  margin-top: 10px;
}

.form .btn {
  display: inline-flex;
  /* width: 50%; */
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 8px;
  gap: 8px;
  border: 1px solid #c2c2c2;
  background: none;
  transition: all 0.3s;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  color: #c344ff;
}

.form button:hover {
  transform: scale(1.1);
}

.form button:focus,
.form input:focus {
  outline: none;
}

.dropzone {
  width: 75px;
  height: 75px;
  background: #e9e9e9;
  border-radius: 15px;
  display: flex;
}

.dropzone .icon {
  /* width: 100px; */
  /* height: 0%; */
  display: block;
  margin: 0 auto;
  /* font-size: 1rem; */
  /* align-self: flex-end; */
}

.dropzone label {
  width: 75%;
  height: 75%;
}

.dropzone input {
  display: none;
}

.dropzone .image {
  width: 75px;
  height: 85px;
  margin: 0 auto;
  display: block;
  margin-top: -8px;
}

.form .flex .btnCta {
  padding: .65rem 2rem;
  gap: 2px;
  border-radius: 10px;
  border: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: 0.26301372051239014px;
  text-align: center;
  color: #fff;
  background: #c344ff ;
}

.form .btnCtaAdd {
  padding: 0.9rem;
  color: #fff;
  background: #b413ff ;
  font-size: 0.9rem;
  border-radius: 8px;
  gap: 8px;
  font-weight: 600;
  /* margin-left: 300px; */
}

.currency {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currency select:focus {
  outline: none;
}

.currency select {
  padding: 0.5rem;
  border-radius: 15px;
  border: 1px solid #ebebeb;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  background: none;
  margin-top: 0.5rem;
  color: #9d9d9d;
}

.currency div {
  padding: 1rem 0;
}

.setBusinessPopUp {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  background: grey;
  width: 100%;
  opacity: 0.9;
}

.setBusinessAlert {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  background: grey;
  width: 100%;
  opacity: 0.9;
}

.setBusinessPopUp p {
  margin: 10px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.setBusinessSubPopUp {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  transform: translateY(250%);
  border-radius: 8px;
  opacity: 1;
}

.setBusinessSubAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  z-index: 999;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  transform: translateY(250%);
  border-radius: 8px;
  opacity: 1;
}

.formFlex {
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid black; */
  /* padding: 0 6rem; */
}

.receiptSection {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 750px) {

  .formFlex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 100px;
    margin: 0 auto;
    padding-top: 0;
    margin-top: 0;
  }

  .firstFlex {
    width: 100%;
    max-width: 40%;
  }
  
  .receiptSection {
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    max-width: 350px;
    overflow-y: unset;
    padding-bottom: 3rem;
  }

  .receipt {
    width: 90%;
    max-width: 300px;
    height: 80%;
    background: #ffffff;
    box-shadow: 1px 1px 10px gray;
    place-items: center;
    position: fixed;
  }

  .form .btnCta {
    display: none;
  }

  .setBusinessSubPopUp {
    max-width: 371px;
    opacity: 1;
  }

}
